body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F1EFEC;
  text-align: center;
}

header {
  padding: 20px;
  font-size: 24px;
  font-weight: 200;
}

.top-panel {
  background-color: #6D94C5;
  padding: 40px 20px;
  color: #F1EFEC;
}

.top-panel h2 {
  margin: 0 0 15px;
  font-size: 28px;
  font-weight: 1000;
}

.search-bar {
  padding: 10px;
  width: 60%;
  height: 20px;
  max-width: 400px;
  border: 1px solid #999;
  border-radius: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.buttons > :nth-last-child(2):nth-child(odd),
.buttons > :last-child {
  grid-column: span 1;
}
.buttons:last-child {
  justify-items: center;
}

.button-card {
  box-shadow: 0 4px 5px rgba(0,0,0,0.11), 0 4px 5px rgba(0,0,0,0.11);
  background-color: #fafafa;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.button-card:hover {
  background-color: #e0e0e0;
}

.button-card h3 {
  margin: 0 0 10px;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 800;
}

.button-card p {
  margin: 0;
  font-family: 'Inter';
  font-size: 12px;
  color: #444;
  line-height: 1.4;
}

.bottom-panel {
  background-color: #fff;
  padding: 30px 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
}

.button-card i {
  display: block;
  margin: 0 auto 8px auto;
  text-align: center;
  font-size: 2em;
}